body {
    margin: 0;
    background-color: #000000;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}