.fylo_landing_page_content__files {
    text-align: center;
}

.fylo_landing_page_content__files__security {
    padding-block-end: 48px;
    padding-block-start: 32px;
}

.fylo_landing_page_content__files__article_header__fugure {
    padding-block-end: 32px;
}

.fylo_landing_page_content__files__article__link_wrapper {
    padding-block-end: 72px;
    padding-block-start: 72px;
}

.fylo_landing_page_content__files__article__link {
    background: linear-gradient(to right,  hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    border-radius: 42px;
    font-size: 18px;    
}


.fylo_landing_page_content__files__article__link:hover {
    background: skyblue;
}

.fylo_landing_page_content__files__security_description {
    padding-block-start: 48px;
    padding-block-end: 48px;
}

.fylo_landing_page_content__files__security_description__figure {
    padding-block-end: 16px;
}