body {
  margin: 0;
  background-color: #000000de; }

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffffff; }

figure {
  margin-inline-start: 0;
  margin-inline-end: 0; }

img {
  max-width: 100%;
  height: auto; }

.fylo_landing_page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-inline-end: 25px;
  padding-inline-start: 25px; }

.fylo_landing_page__header_logo__image {
  max-width: 50%; }

.fylo_landing_page__menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap; }

.fylo_landing_page__menu_header {
  position: absolute;
  right: 0; }

.fylo_landing_page__menu_header_list {
  padding-inline-end: 32px; }

.fylo_landing_page__menu_header_list__link {
  color: #d3cdcd; }

.fylo_landing_page__menu_header_list__link:hover {
  text-decoration: underline;
  color: #ffffff; }

.fylo_landing_page__menu_header_list:nth-of-type(3) {
  padding-inline-end: 10px; }

@media (max-width: 340px) {
  .fylo_landing_page__menu_header {
    position: absolute;
    right: 4%;
    top: 52%; } }

@media (min-width: 800px) {
  .fylo_landing_page__header {
    max-width: 1200px;
    margin: auto; } }

.fylo_landing_page_content {
  padding-inline-end: 25px;
  padding-inline-start: 25px; }

.fylo_landing_page_content__files {
  text-align: center; }

.fylo_landing_page_content__files__security {
  padding-block-end: 48px;
  padding-block-start: 32px; }

.fylo_landing_page_content__files__article_header__fugure {
  padding-block-end: 32px; }

.fylo_landing_page_content__files__article__link_wrapper {
  padding-block-end: 72px;
  padding-block-start: 72px; }

.fylo_landing_page_content__files__article__link {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding-block-start: 20px;
  padding-block-end: 20px;
  padding-inline-start: 80px;
  padding-inline-end: 80px;
  border-radius: 42px;
  font-size: 18px; }

.fylo_landing_page_content__files__article__link:hover {
  background: skyblue; }

.fylo_landing_page_content__files__security_description {
  padding-block-start: 48px;
  padding-block-end: 48px; }

.fylo_landing_page_content__files__security_description__figure {
  padding-block-end: 16px; }

@media (min-width: 800px) {
  .fylo_landing_page_content__files__header,
  .fylo_landing_page_content__files__article {
    margin: auto;
    max-width: 500px; }
  .fylo_landing_page_content__files__security {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    column-gap: 100px;
    margin: auto;
    max-width: 900px; } }

.fylo_landing_page_stay_productive__header__figure {
  padding-block-end: 48px;
  padding-block-start: 32px; }

.fylo_landing_page_stay_productive__article__header {
  padding-block-end: 64px; }

.fylo_landing_page_stay_productive__article__header__link_wrapper {
  padding-block-end: 48px; }

.fylo_landing_page_stay_productive__article__header__link {
  color: #65e2d9;
  font-size: 15px;
  border-block-end: 1px solid;
  padding-block-end: 8px; }

.fylo_landing_page_stay_productive__article__header__link:hover {
  color: #ffffff; }

.fylo_landing_page_stay_productive__article__testimonials {
  background-image: url("../images/bg-quotes.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position-y: 3.5%;
  padding-block-start: 64px;
  padding-block-end: 64px;
  font-size: 14px; }

.fylo_landing_page_stay_productive__article__testimonials__quotes_wrapper {
  background-color: rgba(39, 39, 75, 0.596);
  padding-block-end: 32px;
  padding-block-start: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  margin-block-end: 48px; }

.fylo_landing_page_stay_productive__article__testimonials__profile {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center; }

.fylo_landing_page_stay_productive__article__testimonials__profile_wrapper {
  margin-inline-start: -73px;
  margin-block-start: -5px; }

.fylo_landing_page_stay_productive__article__testimonials__profile__profile_photo {
  max-width: 30%;
  border-radius: 50px; }

.fylo_landing_page_stay_productive__article__testimonials__profile__name {
  font-weight: 700;
  font-size: 16px; }

.fylo_landing_page_stay_productive__article__testimonials__profile__job {
  font-size: 12px;
  margin-block-start: -14px; }

@media (min-width: 800px) {
  .fylo_landing_page_stay_productive__article__testimonials {
    background-size: 4%;
    background-position-y: 10%; }
  .fylo_landing_page_stay_productive__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 100px;
    margin: auto;
    max-width: 1100px; }
  .fylo_landing_page_stay_productive__article__testimonials {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1100px;
    padding-inline-end: 16px;
    padding-inline-start: 16px; }
  .fylo_landing_page_stay_productive__article__testimonials__quotes_wrapper:nth-of-type(2) {
    margin-inline-end: 48px;
    margin-inline-start: 48px; } }

.fylo_landing_page__get_access {
  text-align: center;
  background-color: rgba(39, 39, 75, 0.596);
  padding: 20px;
  margin-inline-start: -13px;
  margin-inline-end: -13px; }

.fylo_landing_page__get_access__form_input {
  padding-block-start: 20px;
  padding-block-end: 20px;
  width: 90%;
  margin-block-start: 19px;
  margin-block-end: 43px;
  border-radius: 42px;
  font-size: 18px;
  text-align: center;
  border: none; }

.fylo_landing_page__get_access__form_button {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  font-size: 17px;
  padding-block-start: 20px;
  padding-block-end: 20px;
  margin-block-end: 32px;
  width: 90%;
  border-radius: 42px;
  cursor: pointer;
  color: #ffffff;
  border: none; }

.fylo_landing_page__get_access__form_button:hover {
  background: skyblue; }

@media (min-width: 800px) {
  .fylo_landing_page__get_access {
    margin: auto;
    max-width: 800px;
    padding-inline-end: 48px;
    padding-inline-start: 48px; }
  .fylo_landing_page__get_access__header_description {
    max-width: 700px;
    margin: auto; }
  .fylo_landing_page__get_access__form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-block-start: 16px; }
  .fylo_landing_page__get_access__form_input {
    text-align: start;
    padding-inline-start: 48px; }
  .fylo_landing_page__get_access__form_button {
    width: 40%;
    margin-inline-start: 32px; } }
